apiVersion: v1

kind: Secret
metadata:
  name: config
stringData:
  config.toml: |
    ha-endpoint = "your home assistant endpoint"
    ha-key = "a very long and complex key from your home assistant"

    [[buttons]]
    name = "Cancello"
    entity_id = "cancello"
    icon = "mdi-gate"

    [[buttons]]
    name = "Portone Strada"
    entity_id = "portone_strada"
    icon = "mdi-home-floor-1"

    [[buttons]]
    name = "Portone Interno"
    entity_id = "portone_interno"
    icon = "mdi-home-floor-2"
